<%- include('../views/includes/head.ejs') %>

    <body>
        <%- include('../views/includes/header.ejs') %>

            <% if (gigs.length>0){ %>
                <section id="gigs" class="container">
                    <h1>All Gigs</h1>
                    <% for (let gig of gigs) { %>
                        <div class="gig">
                            <h3>
                                <%= gig.title %>
                            </h3>
                            <p>
                                <%= gig.description %>
                            </p>
                            <ul>
                                <li>
                                    <%= gig.budget %>
                                </li>
                                <li><a href="mailto<%= gig.contact_email %> " class="btn btn-reverse">Apply Now</a></li>
                            </ul>
                            <div class="tech">
                                <small>Technologies Needed: <span>
                                        <%= gig.technologies %>
                                    </span></small>
                            </div>
                        </div>
                        <% } %>
                </section>
                <% } %>
                    <% // else{ %>
                        <!-- <h1 class="container">No Gigs!</h1> -->
                        <% // } %>
    </body>

    </html>